@font-face {
  font-family: "iconfont"; /* Project id 2429692 */
  src: url('iconfont.woff2?t=1620704551096') format('woff2'),
       url('iconfont.woff?t=1620704551096') format('woff'),
       url('iconfont.ttf?t=1620704551096') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_bingzhutu:before {
  content: "\e609";
}

.icon-icon_bingzhutu-copy:before {
  content: "\ea87";
}

.icon-lidaoxiangbuju:before {
  content: "\ea86";
}

.icon-lidaoxiangbuju1:before {
  content: "\e712";
}

.icon-refresh:before {
  content: "\e602";
}

.icon-refresh1:before {
  content: "\e604";
}

.icon--tainjia:before {
  content: "\e600";
}

.icon-jiatianjiakuangxuanduoxuan-8:before {
  content: "\e7db";
}

.icon-jia3-copy-copy:before {
  content: "\e601";
}

.icon-lianxian:before {
  content: "\e6e5";
}

.icon-pattern:before {
  content: "\e64d";
}

.icon-untitled:before {
  content: "\e60c";
}

.icon-shujuku:before {
  content: "\e603";
}

.icon-fl-shuju:before {
  content: "\e62d";
}

.icon-shujuku1:before {
  content: "\e69e";
}

.icon-shujuku2:before {
  content: "\e64c";
}

.icon-shuju:before {
  content: "\e608";
}

.icon-riqi:before {
  content: "\e614";
}

.icon-riqi1:before {
  content: "\e706";
}

.icon-riqi2:before {
  content: "\e615";
}

.icon-icon_riqixuanze:before {
  content: "\e735";
}

.icon-calendar:before {
  content: "\e9ab";
}

.icon-diqu:before {
  content: "\e642";
}

.icon-diyu:before {
  content: "\e663";
}

.icon-icon-test:before {
  content: "\e613";
}

.icon-diyufenbu:before {
  content: "\e720";
}

.icon-diquxuanze:before {
  content: "\e63b";
}

